#feedback-modal {
  width: 60%;
}

#projects-fb-form {
  padding: 2%;
}

/*Sections*/

.fullscreen{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  /*background-color: #333;*/
}

#background-1{
  background: url(../images/02_cover.png);
  background-size: cover;
  background-repeat: none;
  background-position: center center;
}

#background-2{
  background: url(../images/02_give_feedback.png);
  background-size: cover;
  background-repeat: none;
  background-position: center center;
}

#image-1{
  background: url(../images/02_contribute_all.png);
  background-size: cover;
  background-repeat: none;
  background-position: center center;
}

#image-2{
  background: url(../images/02_contribute.png);
  background-size: cover;
  background-repeat: none;
  background-position: center center;
}
